@inherits LayoutComponentBase
@inject State state
@inject UserService userService
<div class="page">
    

    <main>
        <div class="content pb-5">
            
            <NavigationMenu></NavigationMenu>
         
        </div>

        <article class="content px-5">
            @Body
        </article>
    </main>
</div>
@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //var user = await userService.TryAuthorize();
            //if(user == null)
            //{
            //    user = await userService.Login("kirill", "12345");
            //    state.User = user;
            //}
        }
    }
}