@inherits LayoutComponentBase
@inject State state
@inject UserService userService
<div class="page">
    

    <main>
        <div class="content pb-5">
            
            <NavigationMenu></NavigationMenu>
         
        </div>

        <article class="content px-5">
            @Body
        </article>
    </main>
</div>
