<div class="alert container alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="">
        Это приложение позволяет создавать рейтинг видео и картинок вместе с друзьями или одному
    </span>

</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
