/*.dropdown-menu .dropdown-menu {
    top: auto;
    top: 100%;
    transform: translateY(-2rem);
}

.dropdown-item + .dropdown-menu {
    display: none;
}

.dropdown-item.submenu::after {
    content: '▸';
    margin-left: 0.5rem;
}

.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}*/

.dropdown-menu .dropdown-menu {
    top: auto;
    left: 100%;
    transform: translateY(-2rem);
}

.dropdown-item + .dropdown-menu {
    display: none;
}

.dropdown-item.submenu::after {
    content: '▸';
    margin-left: 0.5rem;
}

.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}


