@if (CurrentContentGuess != null)
{
    <div class="d-flex  justify-content-center">
        <button @onclick="PauseControl" disabled="@PlayerStoped"><span class="@PlayButtonClass" aria-hidden="true"></span></button>
        <button @onclick="StopPlay"><span class="oi oi-media-stop"></span></button>
        @if (IsAnswered)
        {
            <h3>Правильный ответ: @CurrentContentGuess.Content.Name</h3>
        }
        <audio hidden="hidden" autoplay  class="Audio"  preload="none" @onplay="async ()=>await ContentLoaded.InvokeAsync()">
            <source src="@CurrentContentGuess.Content.Url">
        </audio>
    </div>
}

